.sidePanel{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 2px solid whitesmoke;
    height: 100vh;
}
.compose-button{
    display: flex;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 20px;
    margin: 5px;
    justify-content: center;
}
.compose-button:hover{
    box-shadow: 5px 4px 2px rgb(131, 129, 129);
}
.compose-button>svg{
    margin-right: 5px;

}
